@{
    ViewData["Title"] = "Donation";
}



<div class="row g-4 p-5">
    <!-- Encryption Section -->
    <div class="col-md-12">
        <h2 class="card-title text-center">Donation</h2>
        <br />
        <div class="text-center">
            <p>
                <img class="img-fluid" src="~/img/walletqr.png" width="300px" />
            </p>
            <p><strong>USDT (TRC20) wallet address:</strong></p>
            <p>
                TNAQbGVfis7yMbXVbatiqQBSv6F3Rxb9f9
            </p>
        </div>
    </div>
</div>